# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

node_modules
.DS_Store
.eslintcache
.happypack
coverage/
tmp/
.tmp/

packages/*/lib/
packages/*/es/
.vscode-test

**/.ice/
.idea/

**/package-lock.json
**/build
.history
/.cache
/node_modules
/lib
/packages/**/lib
/packages/**/es
/packages/**/esnext
**/node_modules
/.pnpm-debug.log
**/pnpm-global
examples/**/esm
examples/**/es
examples/**/esnext
examples/**/lib
examples/**/dist
examples/**/.vscode
examples/**/.DS_Store
examples/**/.docusaurus
examples/**/build