.pkg-btn {
  border-radius: 6px;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 400;

}

.pkg-btn-primary {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
}

.pkg-btn-default {
  background-color: #fff;
  border-color: #d9d9d9;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
}