.container {
  margin-top: 20px;
  border: 1px solid #eee;
}

.unfoldContainer {
  margin-bottom: 20px;
}

.preview {
  padding: 24px;
}

.operations {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  border-top: 1px solid #eee;
}

.item {
  cursor: pointer;
  padding: 0 12px;
}

.codeWrapper {
  border-width: 0 1px 0px 1px;
  border-color: #eee;
  border-style: solid;
}

.mobileWrapper {
  display: flex;
  justify-content: space-between;
}

.iframeWrapper {
  padding-top: 75px;
  width: 375px;
  height: 730px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: url(./iphoneX.png) no-repeat;
  background-size: 100%;
}

.mobilePreviewWrapper {
  display: flex;
}

.mobilePreviewArea {
  margin-left: 20px;
  position: relative;
}

.mobileOperations {
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 40px;
  width: 325px;
  bottom: 20px;
  border-top: 2px solid #eee;
}

.mobileCodeWrapper {
  flex: 1;
}

.operationItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}
.dialog{
  background-color: #666;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
