.container {
  margin-top: 20px;
  border: 1px solid #eee;
}

.unfoldContainer {
  margin-bottom: 20px;
}

.preview {
  padding: 24px;
}

.operations {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  border-top: 1px solid #eee;
}

.item {
  cursor: pointer;
  padding: 0 12px;
}

.codeWrapper {
  border-width: 0 1px 0px 1px;
  border-color: #eee;
  border-style: solid;
}

.mobileWrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
}

.iframeWrapper {
  padding-top: 75px;
  width: 375px;
  height: 730px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* border-radius: 20px; */
  /* box-shadow: 8px 8px 12px 12px #ebedf0; */
  background: url(./iphoneX.png) no-repeat;
  background-size: 100%;
}

.mobilePreviewWrapper {
  display: flex;
}

.mobilePreviewArea {
  margin-left: 10px;
}

.previewOpreations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}

.mobileCodeWrapper {
  flex: 1;
}

.operationItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

.test {
  height: 640px;
}

:global {

}
