import React, { useEffect, useState } from 'react';
<% if (isShowUser) { %>
import User from './components/User';
<% } %>
import Todos from './components/Todos';

const delay = (time) => new Promise((resolve) => setTimeout(() => resolve(), time));

<% if (isShowUser) { %>
async function fetchUser() {
  await delay(1000);
  return   { name: 'ICE', age: '18' };
}
<% } %>

async function fetchTodos() {
  await delay(1000);
  return [
    {
      title: 'React',
    },
    {
      title: 'Vue',
    }
  ];
}

export default function() {
  <% if (isShowUser) { %>
  const [ user, setUser ] = useState({});
  <% } %>
  const [ todos, setTodos ] = useState([]);
  useEffect(() => {
    <% if (isShowUser) { %>
    async function initUser() {
      setUser(await fetchUser());
    }
    <% } %>
    async function initTodos() {
      setTodos(await fetchTodos());
    }

    <% if (isShowUser) { %>
    initUser();
    <% } %>

    initTodos();
  }, []);

  return (
    <>
      <div>
        <%= title %>
      </div>
      <% if (isShowUser) { %>
      <User {...user} />
      <% } %>
      <Todos dataSource={todos} />
    </>
  );
} 